.title-of-program{
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    color: #24263e82;
    font-weight: bold;
    text-transform: uppercase;
}

.list-group-item.active, .btn-primary {
background-color: #393d76 !important;
border-color: #393d76 !important;
}

.list-block{
    margin-bottom: 50px;
}

.delete-button{
    float: right;
    display: none;
}

.input-block{
    overflow: hidden;
    margin-bottom: 20px;
}

.block-float-left{
    float: left;
    text-align: center;
}

ul li{
    font-size: 25px;
    margin-bottom: 2px;
}

ul li:hover > .delete-button{
    display: inline-block;
}