.title-of-program{
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    color: #24263e82;
    font-weight: bold;
    text-transform: uppercase;
}

.input-block{
    overflow: hidden;
    margin-bottom: 20px;
}

.block-float-left{
    float: left;
    text-align: center;
}
