.title-of-program{
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
}

.list-block{
    margin-bottom: 50px;
}

.delete-button{
    float: right;
    display: none;
}

.input-block{
    overflow: hidden;
    margin-bottom: 20px;
}

.block-float-left{
    float: left;
    text-align: center;
}

ul li{
    font-size: 25px;
    margin-bottom: 2px;
}

ul li:hover > .delete-button{
    display: inline-block;
}