
.list-group-item.active, .btn-primary {
    background-color: #393d76 !important;
    border-color: #393d76 !important;
    }
    
.list-block{
        margin-bottom: 50px;
    }


ul li{
        font-size: 25px;
        margin-bottom: 2px;
    }
    
ul li:hover > .delete-button{
        display: inline-block;
    }   

.delete-button{
        float: right;
        display: none;
    }
    
